.records-index {
  min-height: calc(100% - 125px);
  width: 100%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: #fafafa;
  background: #fafafa;
  .records-index-item {
    width: 600px;
    margin-bottom: 25px;
    font-size: 20px;
    background: white;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fafafa;
    .game-data {
      width: 600px;
      margin: 5px 0px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      display: flex;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
      background: white;
      font-size: 20px;
      .game-info{
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        // background: #fafafa;
      }
      .game-icon{
        border-radius: 15px;
        width: 70px;
        margin-right: 10px;
        padding: 5px 10px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
        background: #419AD6;
      }
      .game-total {
        width: 37.5px;
        color: white;
      }
      .game-location {
        font-weight: bold;
      }
      .game-date {
        color: #B2B2B2;
        font-size: 17.5px;
      }
      .game-location, .game-date {
        display: flex;
        align-items: center;
      }
    }
    .player-item {
      margin: 5px 0px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      display: flex;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background: white;
      .player-name {
        display: flex;
        align-items: center;
      }
      .player-take {
        width: 37.5px;
        color: white;
      }
      .positive,
      .negative {
        border-radius: 15px;
        width: 70px;
        margin-right: 10px;
        padding: 5px 10px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
      .positive {
        background: rgb(48, 103, 58);
      }
      .negative {
        background: rgb(234, 42, 42);
      }
    }
  }
}