@import './recordform.scss';
@import './recordsindex.scss';
@import './reset.scss';

.three-times {
  font-size: 3em !important;
}

.navtab {
  button {
    height: 90px;
  }
}

.origin {
  height: 100vh;
  overflow-y: overlay;
  font-family: 'Pacifico', cursive;
}


.drawer-title {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}
.drawer-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.drawer-item {
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;

  .drawer-name {
    margin-right: 10px;
  }
}
