html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.three-times {
  font-size: 3em !important; }

.navtab button {
  height: 90px; }

.origin {
  height: 100vh; }

.records-index {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafa; }
  .records-index .records-index-item {
    width: 600px;
    margin-bottom: 25px;
    font-size: 20px; }
    .records-index .records-index-item .game-date {
      margin-top: 10px;
      margin-left: 7px;
      font-size: 20px;
      color: #999; }
    .records-index .records-index-item .player-item {
      margin: 5px 0px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      display: flex;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background: white; }
      .records-index .records-index-item .player-item .player-name {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: sans-serif; }
      .records-index .records-index-item .player-item .player-take {
        width: 37.5px;
        color: white; }
      .records-index .records-index-item .player-item .positive, .records-index .records-index-item .player-item .negative {
        border-radius: 15px;
        width: 70px;
        margin-right: 15px;
        padding: 5px 10px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .records-index .records-index-item .player-item .positive {
        background: #30673a; }
      .records-index .records-index-item .player-item .negative {
        background: #ea2a2a; }
